%nav.navbar.navbar-dark.bg-dark.fixed-top
  .container-fluid
    %a.navbar-brand{ href: root_path } Preston Duffield
    %button.navbar-toggler{ 'aria-controls' => 'offcanvasDarkNavbar', 'aria-label' => 'Toggle navigation', 'data-bs-target' => '#offcanvasDarkNavbar', 'data-bs-toggle' => 'offcanvas', type: 'button' }
      %span.navbar-toggler-icon
    #offcanvasDarkNavbar.offcanvas.offcanvas-end.text-bg-dark{ 'aria-labelledby' => 'offcanvasDarkNavbarLabel', tabindex: '-1' }
      .offcanvas-header
        %h5#offcanvasDarkNavbarLabel.offcanvas-title Pages
        %button.btn-close.btn-close-white{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'offcanvas', type: 'button' }
      .offcanvas-body
        %ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
          = render 'home/partials/nav_link', locals: { action: 'home', controller: 'index', href: root_path, text: 'Home' }
          = render 'home/partials/nav_link', locals: { action: 'home', controller: 'about', href: home_about_path, text: 'About' }
          = render 'home/partials/user_dropdown'
        %form.d-flex.mt-3{ role: 'search' }
          %input.form-control.me-2{ 'aria-label' => 'Search', placeholder: 'Search', type: 'search' }/
          %button.btn.btn-success{ type: 'submit' } Search
